pipeline/Lookup1_Pipe.json
{
	"name": "Lookup1_Pipe",
	"properties": {
		"activities": [
			{
				"name": "LookupEmails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Azure_Source2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupEmails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEmails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append Email values",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EmailsArry",
								"value": {
									"value": "@item().email",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set email string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmailString",
					"value": {
						"value": "@join(variables('EmailsArry'),';')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmailsArry": {
				"type": "Array"
			},
			"EmailString": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-12T11:08:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}